@import "tailwindcss";

/* ## Colors */

/* ### Primary */


@font-face {
  font-family: 'Red_Hat_Display';
  font-style: normal;
  font-weight: 500 700 900;
  font-display: swap;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Pale-blue: hsl(225, 100%, 94%);
  --color-Bright-blue: hsl(245, 75%, 52%);

  --color-Very-pale-blue: hsl(225, 100%, 98%);
  --color-Desaturated-blue: hsl(224, 23%, 55%);
  --color-Dark-blue: hsl(223, 47%, 23%);

  --font-Red-Hat-Display: 'Red_Hat_Display';
}

